<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alpokat.toko">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Setting.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        
        <activity
            android:name="com.alpokat.toko.Activity.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alpokat.toko.Activity.MainActivity" android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar" />
        <activity android:name="com.alpokat.toko.Activity.LoginActivity" android:label="Login Form" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.alpokat.toko.Activity.PenjualanActivity" android:screenOrientation="landscape" android:label="Penjualan" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.alpokat.toko.Activity.PembayaranActivity" android:label="Cash" />
        <activity android:name="com.alpokat.toko.Activity.AddPelangganActivity" android:label="Tambah Pelanggan" />
        <activity android:name="com.alpokat.toko.Activity.DataPelangganActivity" android:label="Data Pelanggan" />
        <activity android:name="com.alpokat.toko.Activity.CariPelanggan" android:label="Cari Pelanggan" />
        <activity android:name="com.alpokat.toko.Activity.SettingActivity" android:label="Setting" />
        <activity android:name="com.alpokat.toko.Activity.RefActivity" android:label="No HP/Telp Kasir" />
        <activity android:name="com.alpokat.toko.Print.DeviceListActivity" android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity android:name="com.alpokat.toko.Activity.DataPenjualan" android:label="Retur Produk" />
        <activity android:name="com.alpokat.toko.Activity.Midtrans" />
        <activity android:name="com.alpokat.toko.Activity.InputProdukActivity" android:label="Input Produk" android:parentActivityName="com.alpokat.toko.Activity.MainActivity" />
        <activity android:name="com.alpokat.toko.Activity.PenjualanBarcodeBluetoothActivity" android:windowSoftInputMode="adjustNothing" android:isScrollContainer="false" />
        <activity android:name="com.alpokat.toko.Activity.PembayaranBarcodeActivity" />


        <service android:name="com.alpokat.toko.Activity.DataService" android:enabled="true" android:exported="true" />
        <!--<service-->
            <!--android:name=".MyKeyboard"-->
            <!--android:label="@string/my_keyboard"-->
            <!--android:permission="android.permission.BIND_INPUT_METHOD">-->
            <!--<meta-data-->
                <!--android:name="android.view.im"-->
                <!--android:resource="@xml/method" />-->

            <!--<intent-filter>-->
                <!--<action android:name="android.view.InputMethod" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3fe0571ed0dae567857bad9f16a5046204fd005e" />
    </application>

</manifest>